In [1]:
import pandas as pd

In [2]:
inspections = pd.read_csv("/home/jczestochowska/workspace/ada/chicago_food/data/raw/food-inspections.csv")

In [3]:
inspections.Risk.unique()

array(['Risk 1 (High)', 'Risk 3 (Low)', 'Risk 2 (Medium)', nan, 'All'],
      dtype=object)

In [4]:
inspections = inspections.dropna(subset=["Facility Type"])

In [5]:
inspections = inspections[inspections["Facility Type"].str.contains("restaurant", case=False)]

In [6]:
inspections[inspections.Risk == 'All'].index

Int64Index([376, 4908, 5019, 20100, 29051, 47069, 108509, 118221], dtype='int64')

In [7]:
inspections = inspections.drop(inspections[inspections.Risk == 'All'].index)

In [8]:
inspections.Results.unique()

array(['Pass w/ Conditions', 'Out of Business', 'Pass', 'Fail',
       'No Entry', 'Not Ready', 'Business Not Located'], dtype=object)

In [9]:
inspections = inspections[inspections.Results.isin(['Pass w/ Conditions', 'Pass','Fail'])]

In [10]:
inspections.head()

,Inspection ID,DBA Name,AKA Name,License #,Facility Type,Risk,Address,City,State,Zip,...,Results,Violations,Latitude,Longitude,Location,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards
1,2320342,YOLK TEST KITCHEN,YOLK TEST KITCHEN,2589655.0,Restaurant,Risk 1 (High),1767 N MILWAUKEE AVE,CHICAGO,IL,60647.0,...,Pass w/ Conditions,23. PROPER DATE MARKING AND DISPOSITION - Comm...,41.913588,-87.682203,"{'longitude': '41.9135877900482', 'latitude': ...",NaN,NaN,NaN,NaN,NaN
3,2320319,LA PALAPITA,LA PALAPITA,2694702.0,Restaurant,Risk 1 (High),3834 W 47TH ST,CHICAGO,IL,60632.0,...,Pass,47. FOOD & NON-FOOD CONTACT SURFACES CLEANABLE...,41.808025,-87.720037,"{'longitude': '41.80802515275297', 'latitude':...",NaN,NaN,NaN,NaN,NaN
5,2320261,CRAZY BIRD,CRAZY BIRD,2616198.0,Restaurant,Risk 1 (High),1160 W GRAND AVE,CHICAGO,IL,60642.0,...,Pass w/ Conditions,16. FOOD-CONTACT SURFACES: CLEANED & SANITIZED...,41.891193,-87.657055,"{'longitude': '41.891193484441246', 'latitude'...",NaN,NaN,NaN,NaN,NaN
6,2320245,THE REDHEAD PIANO BAR,THE REDHEAD PIANO BAR,2313945.0,Restaurant,Risk 3 (Low),16-18 W ONTARIO ST,CHICAGO,IL,60654.0,...,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.893371,-87.628783,"{'longitude': '41.893370903547904', 'latitude'...",NaN,NaN,NaN,NaN,NaN
7,2320298,HAISOUS,CA PHE DA,2464411.0,Restaurant,Risk 1 (High),1800-1802 S CARPENTER ST,CHICAGO,IL,60608.0,...,Pass,47. FOOD & NON-FOOD CONTACT SURFACES CLEANABLE...,41.857963,-87.653358,"{'longitude': '41.8579631274509', 'latitude': ...",NaN,NaN,NaN,NaN,NaN

In [11]:
inspections[inspections.Risk.isna()]

,Inspection ID,DBA Name,AKA Name,License #,Facility Type,Risk,Address,City,State,Zip,...,Results,Violations,Latitude,Longitude,Location,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards
110530,1459985,GREENLINE COFFEE,GREENLINE COFFEE,2333150.0,Restaurant,NaN,501 E 61ST ST,CHICAGO,IL,60637.0,...,Fail,NaN,41.783819,-87.613189,"{'longitude': '41.783819303359486', 'latitude'...",NaN,NaN,NaN,NaN,NaN
155746,670575,RESPECT FOR LIFE,RESPECT FOR LIFE,0.0,Restaurant,NaN,725 W 79TH ST,CHICAGO,IL,60620.0,...,Fail,NaN,41.750553,-87.642674,"{'longitude': '41.75055282036361', 'latitude':...",NaN,NaN,NaN,NaN,NaN
182076,413465,JW MARRIOT CHICAGO,JW MARRIOT CHICAGO,0.0,Restaurant,NaN,151 W Adams ST,CHICAGO,IL,60603.0,...,Fail,NaN,41.879290,-87.632363,"{'longitude': '41.87929007329572', 'latitude':...",NaN,NaN,NaN,NaN,NaN

In [12]:
inspections = inspections.dropna(subset=["Risk"])

## We change Risk 1 (High) to 1 and Risk 3 (Low) to 3

In [13]:
inspections.Risk = inspections.Risk.map({'Risk 1 (High)': 1, 'Risk 3 (Low)': 3, 'Risk 2 (Medium)': 2})

In [14]:
inspections.head()

,Inspection ID,DBA Name,AKA Name,License #,Facility Type,Risk,Address,City,State,Zip,...,Results,Violations,Latitude,Longitude,Location,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards
1,2320342,YOLK TEST KITCHEN,YOLK TEST KITCHEN,2589655.0,Restaurant,1,1767 N MILWAUKEE AVE,CHICAGO,IL,60647.0,...,Pass w/ Conditions,23. PROPER DATE MARKING AND DISPOSITION - Comm...,41.913588,-87.682203,"{'longitude': '41.9135877900482', 'latitude': ...",NaN,NaN,NaN,NaN,NaN
3,2320319,LA PALAPITA,LA PALAPITA,2694702.0,Restaurant,1,3834 W 47TH ST,CHICAGO,IL,60632.0,...,Pass,47. FOOD & NON-FOOD CONTACT SURFACES CLEANABLE...,41.808025,-87.720037,"{'longitude': '41.80802515275297', 'latitude':...",NaN,NaN,NaN,NaN,NaN
5,2320261,CRAZY BIRD,CRAZY BIRD,2616198.0,Restaurant,1,1160 W GRAND AVE,CHICAGO,IL,60642.0,...,Pass w/ Conditions,16. FOOD-CONTACT SURFACES: CLEANED & SANITIZED...,41.891193,-87.657055,"{'longitude': '41.891193484441246', 'latitude'...",NaN,NaN,NaN,NaN,NaN
6,2320245,THE REDHEAD PIANO BAR,THE REDHEAD PIANO BAR,2313945.0,Restaurant,3,16-18 W ONTARIO ST,CHICAGO,IL,60654.0,...,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.893371,-87.628783,"{'longitude': '41.893370903547904', 'latitude'...",NaN,NaN,NaN,NaN,NaN
7,2320298,HAISOUS,CA PHE DA,2464411.0,Restaurant,1,1800-1802 S CARPENTER ST,CHICAGO,IL,60608.0,...,Pass,47. FOOD & NON-FOOD CONTACT SURFACES CLEANABLE...,41.857963,-87.653358,"{'longitude': '41.8579631274509', 'latitude': ...",NaN,NaN,NaN,NaN,NaN